*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #444;
  font-weight: 500;
  line-height: 1.6;
  overflow-x: hidden;
  overflow-y: hidden; }

section {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.7s;
  scroll-margin-top: 7rem; }
  section.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
    scroll-margin-top: 15rem; }

::selection {
  background-color: #c69963;
  color: #101d2c; }

.heading-1 {
  font-family: "Montserrat", sans-serif;
  align-self: start;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 6.2rem;
  color: #f9f7f6;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin-left: -0.5rem;
  line-height: 1.2; }
  @media only screen and (max-width: 56.25em) {
    .heading-1 {
      font-size: 5.8rem;
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-1 {
      font-size: 5.2rem; } }
  .heading-1 span {
    color: #c69963; }

.heading-3 {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  color: #c69963;
  font-family: "Montserrat", sans-serif;
  word-spacing: 2px; }
  @media only screen and (max-width: 37.5em) {
    .heading-3 {
      font-size: 2rem; } }

.heading-2 {
  font-size: 4rem;
  line-height: 1;
  font-weight: 300;
  color: #54483A; }
  @media only screen and (max-width: 37.5em) {
    .heading-2 {
      font-size: 5rem; } }

@media only screen and (max-width: 79.0652em) {
  .heading-break {
    display: none; } }

.italic {
  font-style: italic; }

.wh {
  color: #f9f7f6; }

.text-center {
  text-align: center; }

.gold {
  color: #c69963; }

.mb-esm {
  margin-bottom: 1rem !important; }

.mb-sm {
  margin-bottom: 2rem !important; }

.mb-md {
  margin-bottom: 3rem !important; }

.mb-lg {
  margin-bottom: 4rem !important; }

.mb-hg {
  margin-bottom: 8rem !important; }

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  word-spacing: 1.5px;
  letter-spacing: 1.5px; }
  @media only screen and (max-width: 37.5em) {
    .btn {
      font-size: 1.5rem;
      padding: 1.6rem 2.8rem; } }
  .btn:link, .btn:visited {
    background-color: #c69963;
    color: #fff;
    transition: all 0.3s; }
  .btn:hover, .btn:active {
    background-color: #B28451; }
  .btn--submit {
    border: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    background-color: #c69963;
    color: #fff;
    word-spacing: 1.5px;
    letter-spacing: 1.5px;
    outline: none;
    transition: all 0.3s; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(16, 29, 44, 0.8);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center; }

.hidden {
  visibility: hidden;
  opacity: 0; }

@keyframes bounce {
  0% {
    transform: translate3d(0, -5px, 0); }
  100% {
    transform: translate3d(0, 1px, 0); } }

.header {
  height: 100vh;
  padding: 3.2rem 5.4rem;
  background-image: linear-gradient(rgba(16, 29, 44, 0.9), rgba(16, 29, 44, 0.9)), url("./../img/hero-img.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr min-content minmax(12rem, min-content) 1fr;
  grid-template-columns: 1fr;
  row-gap: 1.5rem; }
  @media only screen and (max-width: 56.25em) {
    .header {
      grid-template-rows: 1fr min-content minmax(10rem, min-content) 1fr; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 3.2rem; } }
  .header__cta {
    align-self: start; }

.nav__list {
  display: flex;
  list-style: none;
  align-items: center; }

.nav__list--links {
  display: flex;
  list-style: none;
  align-items: center; }
  @media only screen and (max-width: 52.25em) {
    .nav__list--links {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background-color: rgba(16, 29, 44, 0.9);
      -webkit-backdrop-filter: blur(6px);
      backdrop-filter: blur(6px);
      z-index: 1000;
      flex-direction: column;
      justify-content: center;
      transform: translateY(-100%);
      transition: all 0.3s; }
      .nav__list--links.nav-open {
        transform: translateY(0); } }

.nav__item--logo {
  margin-right: auto; }
  .nav__item--logo-link {
    display: flex;
    align-items: center;
    justify-content: center; }

.nav__item--icon {
  display: flex;
  align-items: center;
  margin-left: 3.8rem; }
  @media only screen and (max-width: 52.25em) {
    .nav__item--icon {
      margin-left: 0;
      margin-bottom: 1rem; }
      .nav__item--icon:not(:last-child) {
        margin-top: 3rem; } }
  .nav__item--icon:last-child {
    margin-left: 2.4rem; }
    @media only screen and (max-width: 52.25em) {
      .nav__item--icon:last-child {
        margin-left: 0; } }

.nav__item--link {
  margin-left: 2.4rem; }
  @media only screen and (max-width: 52.25em) {
    .nav__item--link {
      margin-bottom: 1.8rem;
      margin-left: 0; } }

.nav__item-only-mob {
  display: none; }

.nav-open .nav__item-only-mob {
  display: block; }

.nav__link:link, .nav__link:visited {
  text-decoration: none;
  color: #c69963;
  font-size: 1.7rem;
  line-height: 1.2;
  text-transform: uppercase;
  transition: all 0.3s; }
  @media only screen and (max-width: 52.25em) {
    .nav__link:link, .nav__link:visited {
      font-size: 2.8rem; } }
  .nav__link:link .icon, .nav__link:visited .icon {
    height: 3.2rem;
    width: 3.2rem; }
    @media only screen and (max-width: 56.25em) {
      .nav__link:link .icon, .nav__link:visited .icon {
        height: 2.8rem;
        width: 2.8rem; } }
    @media only screen and (max-width: 52.25em) {
      .nav__link:link .icon, .nav__link:visited .icon {
        height: 4.2rem;
        width: 4.2rem; } }

.nav__link:hover, .nav__link:active {
  color: #B28451; }

.nav__item--link-grouped > .nav__link--grouper {
  visibility: hidden;
  transform: translate3d(-2rem, -5px, 0); }

.nav__item--link-grouped:hover > .nav__link--grouper {
  visibility: visible;
  transform: translate3d(-2rem, 1px, 0);
  animation: 1s fade-in; }

.nav__item--link-grouped:hover > .nav__link {
  opacity: 50%; }

.nav-open .nav__item--link-grouped {
  display: none; }

.nav__link--grouper {
  list-style: none;
  position: absolute;
  padding: 0 2rem 2rem 2rem;
  transition: all 1s; }
  .nav__link--grouper > li {
    margin-top: 1.2rem; }

.nav__logo {
  height: 6.4rem;
  width: auto; }
  @media only screen and (max-width: 37.5em) {
    .nav__logo {
      height: 4.8rem; } }

.nav__mob-logo {
  display: none;
  width: 5rem;
  height: auto; }
  @media only screen and (max-width: 52.25em) {
    .nav__mob-logo {
      display: block;
      position: absolute;
      top: 3.2rem;
      left: 3.2rem; } }

.nav__btn--mob {
  display: none; }
  @media only screen and (max-width: 52.25em) {
    .nav__btn--mob {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      color: #c69963;
      animation: 800ms cubic-bezier(0.7, 0, 0.3, 1) 0s infinite alternate none running bounce; } }
  .nav__btn--mob svg {
    height: 3.8rem;
    width: 3.8rem; }

.nav__btn--mob-close {
  display: none; }
  @media only screen and (max-width: 52.25em) {
    .nav__btn--mob-close {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      color: #c69963;
      position: absolute;
      top: 3.2rem;
      right: 3.2rem; } }
  .nav__btn--mob-close svg {
    height: 3.8rem;
    width: 3.8rem; }

@keyframes fade-in {
  0% {
    transform: translate3d(-2rem, -5px, 0);
    opacity: 0; }
  100% {
    transform: translate3d(-2rem, 1px, 0);
    opacity: 100%; } }

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
  padding: 1.4rem 3.2rem;
  background-color: #101d2c; }
  .sticky-header .nav__logo {
    height: 5.4rem; }

.sticky-header .nav__link--grouper {
  background-color: #101d2c; }

.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f9f7f6; }
  @media only screen and (max-width: 53.125em) {
    .intro {
      grid-template-columns: 1fr; } }
  .intro__picture {
    background-image: linear-gradient(rgba(198, 153, 99, 0.25), rgba(198, 153, 99, 0.25)), url("./../img/about-1.jpg");
    background-size: cover;
    background-position: right; }
    @media only screen and (max-width: 53.125em) {
      .intro__picture {
        height: 66vh; } }
  .intro__content {
    padding: 9.6rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left; }
    @media only screen and (max-width: 53.125em) {
      .intro__content {
        text-align: left;
        align-items: flex-start; } }
    @media only screen and (max-width: 37.5em) {
      .intro__content {
        padding: 9rem 3.2rem; } }
  .intro__paragraph {
    font-size: 1.7rem;
    font-style: italic;
    margin-bottom: 4rem;
    text-align: justify;
    text-align-last: left; }
    @media only screen and (max-width: 53.125em) {
      .intro__paragraph {
        text-align-last: left; } }
    @media only screen and (max-width: 37.5em) {
      .intro__paragraph {
        font-size: 2rem; } }

.services-developers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f9f7f6; }
  @media only screen and (max-width: 53.125em) {
    .services-developers {
      grid-template-columns: 1fr; } }
  .services-developers--left {
    background-image: linear-gradient(rgba(16, 29, 44, 0.95), rgba(16, 29, 44, 0.95)), url("./../img/hero-img.jpg");
    background-size: cover;
    background-position: center;
    padding: 12rem 5.4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2.2rem;
    column-gap: 2.8rem; }
    @media only screen and (max-width: 53.125em) {
      .services-developers--left {
        grid-row: 2/3;
        padding: 9.6rem 8rem;
        column-gap: 6.4rem;
        row-gap: 5.2rem; } }
    @media only screen and (max-width: 37.5em) {
      .services-developers--left {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, min-content);
        justify-items: center;
        padding: 9.6rem 3.2rem; } }
  .services-developers__content {
    padding: 12rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    @media only screen and (max-width: 53.125em) {
      .services-developers__content {
        text-align: left;
        align-items: flex-start; } }
    @media only screen and (max-width: 37.5em) {
      .services-developers__content {
        padding: 9rem 3.2rem; } }
  .services-developers__paragraph {
    font-size: 1.7rem;
    font-style: italic;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 53.125em) {
      .services-developers__paragraph {
        text-align: left; } }
    @media only screen and (max-width: 37.5em) {
      .services-developers__paragraph {
        font-size: 2rem; } }

.services-tenants {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f9f7f6; }
  @media only screen and (max-width: 53.125em) {
    .services-tenants {
      grid-template-columns: 1fr; } }
  .services-tenants--right {
    background-image: linear-gradient(rgba(16, 29, 44, 0.95), rgba(16, 29, 44, 0.95)), url("./../img/hero-img.jpg");
    background-size: cover;
    background-position: center;
    padding: 12rem 5.4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 2.8rem; }
    @media only screen and (max-width: 53.125em) {
      .services-tenants--right {
        grid-row: 2/3;
        padding: 9.6rem 8rem;
        column-gap: 6.4rem;
        row-gap: 5.2rem; } }
    @media only screen and (max-width: 37.5em) {
      .services-tenants--right {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, min-content);
        justify-items: center;
        padding: 9.6rem 3.2rem; } }
  .services-tenants__content {
    padding: 12rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left; }
    @media only screen and (max-width: 53.125em) {
      .services-tenants__content {
        text-align: left;
        align-items: flex-start; } }
    @media only screen and (max-width: 37.5em) {
      .services-tenants__content {
        padding: 9rem 3.2rem; } }
  .services-tenants__paragraph {
    font-size: 1.7rem;
    font-style: italic;
    text-align: justify;
    text-align-last: left;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 53.125em) {
      .services-tenants__paragraph {
        text-align: left; } }
    @media only screen and (max-width: 37.5em) {
      .services-tenants__paragraph {
        font-size: 2rem; } }

.features {
  background-color: #f9f5ef; }
  .features-wrapper {
    max-width: 120rem;
    margin: 0 auto;
    padding: 11rem 3.2rem; }
    @media only screen and (min-width: 112.5em) {
      .features-wrapper {
        max-width: 130rem; } }
  .features__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3.2rem; }
    @media only screen and (max-width: 75em) {
      .features__container {
        column-gap: 2.4rem; } }
    @media only screen and (max-width: 63.75em) {
      .features__container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3.2rem; } }
    @media only screen and (max-width: 50em) {
      .features__container {
        grid-template-columns: 1fr;
        row-gap: 3.2rem;
        justify-items: center; } }

.feature {
  height: 48rem;
  position: relative; }
  @media only screen and (max-width: 75em) {
    .feature {
      height: 52rem; } }
  @media only screen and (max-width: 63.75em) {
    .feature:last-child {
      grid-column: span 2;
      justify-self: center; } }
  @media only screen and (max-width: 50em) {
    .feature {
      width: 40rem; }
      .feature:last-child {
        grid-column: 1;
        justify-self: unset; } }
  @media only screen and (max-width: 37.5em) {
    .feature {
      height: auto; } }
  @media only screen and (max-width: 28.75em) {
    .feature {
      width: 100%; } }
  .feature__img {
    height: 24rem;
    position: relative;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 10;
    transform: translateY(50%);
    transition: all 0.5s; }
    @media only screen and (max-width: 75em) {
      .feature__img {
        height: 26rem; } }
    .feature__img-1 {
      background-image: url("../img/feature-1.jpg"); }
    .feature__img-2 {
      background-image: url("../img/feature-2.jpg"); }
    .feature__img-3 {
      background-image: url("../img/feature-3.jpg"); }
    .feature__img-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(16, 29, 44, 0.9);
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
      transition: all 0.5s; }
      .feature__img-overlay .feature__bounce-wrapper {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%); }
      .feature__img-overlay svg {
        width: 2.4rem;
        height: 2.4rem;
        color: #B28451;
        animation: 800ms cubic-bezier(0.7, 0, 0.3, 1) 0s infinite alternate none running bounce; }
  .feature__text-container {
    height: 24rem;
    padding: 2rem;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 5;
    transform: translateY(-50%);
    transition: all 0.5s; }
    @media only screen and (max-width: 75em) {
      .feature__text-container {
        height: 25rem; } }
    @media only screen and (max-width: 37.5em) {
      .feature__text-container {
        height: auto; } }
  .feature__heading {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #B28451;
    align-self: center; }
  .feature__list {
    list-style: none; }
    .feature__list .list-item {
      display: flex;
      align-items: flex-start; }
      .feature__list .list-item svg {
        width: 1.7rem;
        height: 1.7rem;
        margin-right: 0.8rem;
        color: #B28451;
        transform: translateY(2px);
        flex-shrink: 0; }
      .feature__list .list-item p {
        font-size: 1.4rem;
        line-height: 1.4; }
        @media only screen and (max-width: 37.5em) {
          .feature__list .list-item p {
            font-size: 1.5rem; } }
      .feature__list .list-item:not(:last-child) {
        margin-bottom: 0.6rem; }
  .feature:hover .feature__img-overlay {
    opacity: 0; }
  .feature:hover .feature__img {
    transform: translateY(0); }
  .feature:hover .feature__text-container {
    transform: translateY(0); }
  @media (hover: none) {
    .feature .feature__img {
      transform: translateY(0); }
    .feature .feature__text-container {
      transform: translateY(0);
      height: auto;
      padding: 3.2rem; }
    .feature .feature__img .feature__img-overlay {
      display: none; } }

.contact {
  padding: 11rem 0;
  background-image: linear-gradient(rgba(16, 29, 44, 0.95), rgba(16, 29, 44, 0.95)), url("./../img/hero-img.jpg");
  background-size: cover;
  background-position: center; }
  .contact__container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem; }
    .contact__container--inner {
      display: grid;
      grid-template-columns: 2fr 1fr;
      border-radius: 2px;
      column-gap: 5.4rem; }
      @media only screen and (max-width: 62.5em) {
        .contact__container--inner {
          grid-template-columns: 2.5fr 1fr; } }
      @media only screen and (max-width: 56.25em) {
        .contact__container--inner {
          grid-template-columns: 1fr; } }
  .contact__text-box .break {
    display: none; }
    @media only screen and (max-width: 31.25em) {
      .contact__text-box .break {
        display: block; } }
  .contact__image-box {
    background-image: linear-gradient(rgba(16, 29, 44, 0.3), rgba(16, 29, 44, 0.3)), url("./../img/contact.jpg");
    background-position: right;
    background-size: cover; }
    @media only screen and (max-width: 56.25em) {
      .contact__image-box {
        display: none; } }
  .contact__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, min-content);
    column-gap: 5.4rem;
    row-gap: 1.8rem; }
    @media only screen and (max-width: 37.5em) {
      .contact__form {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, min-content); } }
    .contact__form div {
      display: flex;
      flex-direction: column; }
      .contact__form div.msg {
        grid-row: 1 / 5;
        grid-column: 2 / 3; }
        @media only screen and (max-width: 37.5em) {
          .contact__form div.msg {
            grid-row: 4 / 5;
            grid-column: 1;
            height: 25rem; } }
      .contact__form div label {
        color: #B28451;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: .8rem; }
      .contact__form div input {
        width: 100%;
        padding: 1.2rem;
        font-size: 1.8rem;
        font-family: inherit;
        border: none;
        background-color: #283441;
        color: #cfd2d5;
        transition: all 0.3s; }
        .contact__form div input:focus {
          outline: none;
          box-shadow: 0 0 0 0.4rem #c69963; }
      .contact__form div textarea {
        width: 100%;
        height: 100%;
        padding: 1.2rem;
        font-size: 1.8rem;
        font-family: inherit;
        border: none;
        background-color: #283441;
        color: #cfd2d5;
        transition: all 0.3s;
        resize: none; }
        .contact__form div textarea:focus {
          outline: none;
          box-shadow: 0 0 0 0.4rem #c69963; }
    .contact__form .btn--submit {
      align-self: end;
      margin-top: 3rem; }

.spinner svg {
  height: 6rem;
  width: 6rem;
  fill: #c69963;
  animation: rotate 2s infinite linear; }

.message {
  margin: 0 5.4rem;
  text-align: center; }
  .message svg {
    height: 6rem;
    width: 6rem;
    fill: #c69963;
    color: #c69963;
    margin-bottom: 2.2rem; }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.footer {
  padding: 10rem 3.2rem;
  background-color: #101d2c;
  border-top: 1px solid #444; }
  .footer__logo {
    margin: 0 auto 5rem;
    height: 7rem;
    width: auto;
    display: block; }
  .footer__copyright {
    text-align: center;
    color: #777;
    font-size: 1.4rem; }
    .footer__copyright span {
      color: #B28451; }
      .footer__copyright span.year {
        color: #777; }
  .footer__address {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 2.4rem; }
  .footer__contact {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 1rem; }
  .footer__link {
    text-decoration: none; }
    .footer__link:link, .footer__link:visited {
      color: #777;
      transition: all 0.3s; }
    .footer__link:hover, .footer__link:active {
      color: #b7bbc0; }

.card {
  padding: 0 1.4rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  row-gap: 3.2rem;
  column-gap: 2.4rem;
  border-radius: 3px;
  transition: all 0.4s; }
  @media only screen and (max-width: 62.5em) {
    .card {
      padding: 0rem; } }
  @media only screen and (max-width: 37.5em) {
    .card {
      width: 100%; } }
  @media (any-hover: hover) {
    .card:hover {
      transform: scale(1.02) translateY(-1.5rem); } }
  .card__icon {
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #B28451;
    color: #B28451;
    align-self: center; }
  .card__heading {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #B28451;
    align-self: center; }
    @media only screen and (max-width: 37.5em) {
      .card__heading {
        font-size: 2rem; } }
  .card__paragraph {
    font-size: 1.6rem;
    text-align: justify;
    grid-column: 1 / -1;
    color: #b7bbc0; }
    @media only screen and (max-width: 37.5em) {
      .card__paragraph {
        font-size: 2rem; } }
