.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: $font-heading;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    word-spacing: 1.5px;
    letter-spacing: 1.5px;

    @media only screen and (max-width: $bp-small) {
        font-size: 1.4rem;
        padding: 1.6rem 2.8rem;
    }

    &:link,
    &:visited {
        background-color: $color-primary;
        color: #fff;
        transition: all 0.3s;
    }

    &:hover,
    &:active {
        background-color: $color-primary-dark;
    }

    &--submit {
        border: none;
        cursor: pointer;
        font-family: $font-heading;
        display: inline-block;
        background-color: $color-primary;
        color: #fff;
        word-spacing: 1.5px;
        letter-spacing: 1.5px;
        outline: none;
        transition: all 0.3s;
    }

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color-secondary, 0.8);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

@keyframes bounce {
    0% {
        // transform: translateY(-5px);
        transform: translate3d(0, -5px, 0);
    }
    
    100% {
        // transform: translateY(1px);
        transform: translate3d(0, 1px, 0);
    }
}
