.contact {
    padding: 11rem 0;
    // background-color: $color-secondary;
    background-image: linear-gradient(rgba($color-secondary, 0.95), rgba($color-secondary, 0.95)), url('./../img/hero-img.jpg');
    background-size: cover;
    background-position: center;

    &__container {
        max-width: 120rem;
        margin: 0 auto;
        padding: 0 3.2rem;

        &--inner {
            display: grid;
            grid-template-columns: 2fr 1fr ;
            border-radius: 2px;
            column-gap: 5.4rem;

            @media only screen and (max-width: 62.5em) {
                grid-template-columns: 2.5fr 1fr;
            }

            @media only screen and (max-width: $bp-medium) {
                grid-template-columns: 1fr;
            }
        }
    }

    &__text-box {
        & .break {
            display: none;

            @media only screen and (max-width: 31.25em) {
                display: block;
            }
        }
    }

    &__image-box {
        background-image: linear-gradient(rgba($color-secondary, 0.3), rgba($color-secondary, 0.3)), url('./../img/contact.jpg');
        background-position: right;
        background-size: cover;

        @media only screen and (max-width: $bp-medium) {
            display: none;
        }
    }

    &__form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, min-content);
        column-gap: 5.4rem;
        row-gap: 1.8rem;

        @media only screen and (max-width: $bp-small) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, min-content);
        }

        & div {
            display: flex;
            flex-direction: column;
            
            &.msg {
                grid-row: 1 / 5;
                grid-column: 2 / 3;

                @media only screen and (max-width: $bp-small) {
                    grid-row: 4 / 5;
                    grid-column: 1;
                    height: 25rem;

                }
            }

            & label {
                color: $color-primary-dark;
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: .8rem;
            }

            & input {
                width: 100%;
                padding: 1.2rem;
                font-size: 1.8rem;
                font-family: inherit;
                border: none;
                // background-color: #f5f9fd;
                background-color: #283441;
                // color: inherit;
                color: #cfd2d5;
                transition: all 0.3s;

                &:focus {
                    outline: none;
                    box-shadow: 0 0 0 0.4rem $color-primary;
                }
            }

            & textarea {
                width: 100%;
                height: 100%;
                padding: 1.2rem;
                font-size: 1.8rem;
                font-family: inherit;
                border: none;
                // background-color: #f5f9fd;
                background-color: #283441;
                // color: inherit;
                color: #cfd2d5;
                transition: all 0.3s;
                resize: none;

                &:focus {
                    outline: none;
                    box-shadow: 0 0 0 0.4rem $color-primary;
                }
            }
        }

        .btn--submit {
            align-self: end;
            margin-top: 3rem;
        }
    }
}

.spinner {
  
    svg {
        height: 6rem;
        width: 6rem;
        fill: $color-primary;
        animation: rotate 2s infinite linear;
    }
}

.message {
    margin: 0 5.4rem;
    text-align: center;
  
    svg {
        height: 6rem;
        width: 6rem;
        fill: $color-primary;
        color: $color-primary;
        margin-bottom: 2.2rem;
    }
}
  
@keyframes rotate {
    0% {
        transform: rotate(0);
    }
  
    100% {
        transform: rotate(360deg);
    }
}