.features {
    max-width: 120rem;
    margin: 0 auto;
    padding: 11rem 3.2rem;
    background-color: #fff;

    @media only screen and (min-width: $bp-big-screen) {
        max-width: 130rem;
    }
    
    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 4rem;

        @media only screen and (max-width: $bp-large) {
            column-gap: 3.2rem;
        }

        @media only screen and (max-width: 62.5em) {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 3.2rem;
        }

        @media only screen and (max-width: 50em) {
            grid-template-columns: 1fr;
            row-gap: 3.2rem;
            justify-items: center;
        }
    }
}

.feature {
    height: 48rem;
    position: relative;

    @media only screen and (max-width: $bp-large) {
        height: 50rem;
    }

    @media only screen and (max-width: 62.5em) {
        &:last-child {
            grid-column: span 2;
            justify-self: center;
        }
    }

    @media only screen and (max-width: 50em) {
        width: 40rem;

        &:last-child {
            grid-column: 1;
            justify-self: unset;
        }
    }

    @media only screen and (max-width: 28.75em) {
        width: 100%;
    }

    &__img {
        height: 24rem;
        position: relative;
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 10;
        transform: translateY(50%);
        transition: all 0.5s;

        @media only screen and (max-width: $bp-large) {
            height: 25rem;
        }

        &-1 {
            background-image: url('../img/feature-1.jpg');
        }

        &-2 {
            background-image: url('../img/feature-2.jpg');
        }

        &-3 {
            background-image: url('../img/feature-3.jpg');
        }

        &-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color-secondary, 0.9);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 1;
            transition: all 0.5s;

            & .feature__bounce-wrapper {
                position: absolute;
                bottom: 5%;
                left: 50%;
                transform: translateX(-50%);
            }
            
            & svg {
                width: 2.4rem;
                height: 2.4rem;
                color: $color-primary-dark;
                animation: 800ms cubic-bezier(0.7, 0, 0.3, 1) 0s infinite alternate none running bounce;
            }
        }
    }

    &__text-container {
        height: 24rem;
        padding: 2rem;
        box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 5;
        transform: translateY(-50%);
        transition: all 0.5s;

        @media only screen and (max-width: $bp-large) {
            height: 25rem;
        }
    }

    &__heading {
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 700;
        color: $color-primary-dark;
        align-self: center;
    }

    &__list {
        list-style: none;

        & .list-item {
            display: flex;
            align-items: flex-start;

            & svg {
                width: 1.7rem;
                height: 1.7rem;
                margin-right: 0.8rem;
                color: $color-primary-dark;
                transform: translateY(2px);
                flex-shrink: 0;
            }

            & p {
                font-size: 1.4rem;
                line-height: 1.4;
            }

            &:not(:last-child) {
                margin-bottom: 0.6rem;
            }
        }
    }

    &:hover {
        .feature__img-overlay {
            opacity: 0;
        }

        .feature__img {
            transform: translateY(0);
        }

        .feature__text-container {
            transform: translateY(0);
        }
    }

    @media (hover: none) {
        .feature__img {
            transform: translateY(0);
        }

        .feature__text-container {
            transform: translateY(0);
            height: auto;
            padding: 3.2rem;
        }

        .feature__img .feature__img-overlay {
            display: none;
        }
    }
}


@keyframes bounce {
    0% {
        // transform: translateY(-5px);
        transform: translate3d(0, -5px, 0);
    }
    
    100% {
        // transform: translateY(1px);
        transform: translate3d(0, 1px, 0);
    }
}