.header {
    height: 100vh;
    padding: 3.2rem 5.4rem;
    background-image: linear-gradient(rgba($color-secondary, 0.9), rgba($color-secondary, 0.9)), url('./../img/hero-img.jpg');
    background-size: cover;
    background-position: center;

    display: grid;
    grid-template-rows: 1fr min-content minmax(12rem, min-content) 1fr;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;

    @media only screen and (max-width: $bp-medium) {
        grid-template-rows: 1fr min-content minmax(10rem, min-content) 1fr;
    }
    
    @media only screen and (max-width: $bp-small) {
        padding: 3.2rem;
    }

    &__cta {
        align-self: start;
    }
}

.nav {
    &__list {
        display: flex;
        list-style: none;
        align-items: center;
    }
    
    &__list--links {
        display: flex;
        list-style: none;
        align-items: center;

        @media only screen and (max-width: 52.25em) {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            background-color: rgba($color-secondary, 0.9);
            -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
            z-index: 1000;
            flex-direction: column;
            justify-content: center;

            transform: translateY(-100%);
            transition: all 0.3s;

            &.nav-open {
                transform: translateY(0);
            }
        }
    }

    &__item {
        &--logo {
            margin-right: auto;

            &-link {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &--icon {
            display: flex;
            align-items: center;
            margin-left: 3.8rem;

            @media only screen and (max-width: 52.25em) {
                margin-left: 0;
                margin-bottom: 1rem;

                &:not(:last-child) {
                    margin-top: 3rem;
                }
            }

            &:last-child {
                margin-left: 2.4rem;

                @media only screen and (max-width: 52.25em) {
                    margin-left: 0;
                }
            }
        }

        &--link {
            margin-left: 2.4rem;

            @media only screen and (max-width: 52.25em) {
                margin-bottom: 1.8rem;
                margin-left: 0;
            }
        }

        &-only-mob {
            display: none;
        }

        .nav-open &-only-mob {
            display: block;
        }
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: $color-primary;
        font-size: 1.7rem;
        line-height: 1.2;
        text-transform: uppercase;

        @media only screen and (max-width: 52.25em) {
            font-size: 2.8rem;
        }

        transition: all 0.3s;

        .icon {
            height: 3.2rem;
            width: 3.2rem;

            @media only screen and (max-width: $bp-medium) {
                height: 2.8rem;
                width: 2.8rem;
            }

            @media only screen and (max-width: 52.25em) {
                height: 4.2rem;
                width: 4.2rem;
            }
        }
    }

    &__link:hover,
    &__link:active {
        color: $color-primary-dark;
    }

    &__item--link-grouped {
        & > .nav__link--grouper {
            visibility: hidden;
            transform: translate3d(-2rem, -5px, 0);
        }

        &:hover > .nav__link--grouper {
            visibility: visible;
            transform: translate3d(-2rem, 1px, 0);
            animation: 1s fade-in;
        }

        &:hover > .nav__link {
            opacity: 50%;
        }
    }

    .nav-open &__item--link-grouped {
        display: none;
    }

    &__link--grouper {
        list-style: none;
        position: absolute;
        padding: 0 2rem 2rem 2rem;
        transition: all 1s;

        & > li {
            margin-top: 1.2rem;
        }
    }

    &__logo {
        height: 6.4rem;
        width: auto;

        @media only screen and (max-width: $bp-small) {
            height: 4.8rem;
        }
    }

    &__mob-logo {
        display: none;
        width: 5rem;
        height: auto;

        @media only screen and (max-width: 52.25em) {
            display: block;
            position: absolute;
            top: 3.2rem;
            left: 3.2rem;
        }
    }

    &__btn--mob {
        display: none;

        @media only screen and (max-width: 52.25em) {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            color: $color-primary;
            animation: 800ms cubic-bezier(0.7, 0, 0.3, 1) 0s infinite alternate none running bounce;
        }

        & svg {
            height: 3.8rem;
            width: 3.8rem;
        }
    }

    &__btn--mob-close {
        display: none;

        @media only screen and (max-width: 52.25em) {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            color: $color-primary;

            position: absolute;
            top: 3.2rem;
            right: 3.2rem;
        }

        & svg {
            height: 3.8rem;
            width: 3.8rem;
        }
    }
}

@keyframes fade-in {
    0% {
        transform: translate3d(-2rem, -5px, 0);
        opacity: 0;
    }
    
    100% {
        transform: translate3d(-2rem, 1px, 0);
        opacity: 100%;
    }
}

.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999;
    padding: 1.4rem 3.2rem;
    background-color: $color-secondary;

    & .nav__logo {
        height: 5.4rem;
    }
}

.sticky-header .nav__link--grouper {
    background-color: $color-secondary;
}
