.services-developers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: $color-grey-light-1;

    @media only screen and (max-width: 53.125em) {
        grid-template-columns: 1fr;
    }

    &--left {
        background-image: linear-gradient(rgba($color-secondary, 0.95), rgba($color-secondary, 0.95)), url('./../img/hero-img.jpg');
        background-size: cover;
        background-position: center;

        padding: 12rem 5.4rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 2.2rem;
        column-gap: 2.8rem;

        @media only screen and (max-width: 53.125em) {
            grid-row: 2/3;
            padding: 9.6rem 8rem;
            column-gap: 6.4rem;
            row-gap: 5.2rem;
        }

        @media only screen and (max-width: $bp-small) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, min-content);
            justify-items: center;
        }
    }

    &__content {
        padding: 12rem 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @media only screen and (max-width: 53.125em) {
            text-align: left;
            align-items: flex-start;
        }
        
        @media only screen and (max-width: $bp-small) {
            padding: 9rem 3.2rem;
        }
    }

    &__paragraph {
        font-size: 1.6rem;
        font-style: italic;
        margin-bottom: 4rem;

        @media only screen and (max-width: 53.125em) {
            text-align: left;
        }
    }
}
