.services {
    padding: 20rem 0;
    // background-color: $color-secondary;
    background-image: linear-gradient(rgba($color-secondary, 0.95), rgba($color-secondary, 0.95)), url('./../img/hero-img.jpg');
    background-size: cover;
    background-position: center;
}

.card-container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 6rem;
}

.card {
    // background-color: rgba($color-grey-light-1,0.75);
    padding: 3.5rem 2.5rem;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    row-gap: 3.2rem;
    column-gap: 2.4rem;
    border-radius: 3px;

    transition: all 0.4s;

    @media (any-hover: hover) {
        &:hover {
            transform: scale(1.02) translateY(-1.5rem);
        }
    }

    &__icon {
        // width: 7.5rem;
        // height: 7.5rem;
        width: 4.5rem;
        height: 4.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: $color-primary-dark;
        align-self: center;
    }

    &__heading {
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 700;
        color: $color-primary-dark;
        align-self: center;
    }

    &__paragraph {
        font-size: 1.5rem;
        text-align: center;
        grid-column: 1 / -1;
        color: #b7bbc0;
    }
}