// FONT
$font-primary: 'Nunito', sans-serif;
$font-heading: 'Montserrat', sans-serif;
$default-font-size: 1.6rem;

// COLORS
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;
$color-grey-dark-3: #444;

// BREAKPOINTS
$bp-big-screen: 112.5em;    // 1800px
$bp-large: 75em;            // 1200px
$bp-medium: 56.25em;        // 900px
$bp-small: 37.5em;          // 600px